<%= form_with model: @todo do |form| %>
<p>
  <%= form.label :subject %>
  <%= form.text_field :subject %>
</p>
<p>
  <%= form.label :aasm_state %>
  <%= form.text_field :aasm_state %>
</p>
<p>
  <%= form.label :position %>
  <%= form.text_field :position %>
</p>
<p>
  <%= form.submit %>
</p>
<% end %>