<div class="todo">
    <p><span ><%= todo.subject %></span> <%= todo.aasm_state %> <%= todo.position %></p>    
<div class="versions">
  <% todo.versions.each do |version| %>
    <p><%= version.event %> 
    <% object = version.reify %>
    <% if object %>
    <span ><%= object.subject %></span> <%= object.aasm_state %> <%= object.position %>
    <% end %>
    </p>
  <% end %>
</div>

<div>
<%= link_to 'edit', edit_todo_path(todo) %>
<%= link_to 'delete', todo_path(todo), method: :delete %>
</div>
</div>